<button [disabled]="isStartedMedia" id="start_video_button" (click)="startMedia()">Get Media</button>
<button [disabled]="!isStartedMedia" id="start_video_button" (click)="pauseMedia()">Pause Media</button>
<button [disabled]="!isStartedMedia" id="start_video_button" (click)="resumeMedia()">Resume Media</button>
<button [disabled]="!isStartedMedia || isPublished" id="stop_video_button" (click)="stopMedia()">Stop Media</button>
&nbsp;
<button [disabled]="!isStartedMedia || isPublished" id="publish_button" (click)="publish()">Phát</button>
<button [disabled]="!isStartedMedia || !isPublished" id="disconnect_button" (click)="disconnect()">Ngắt kết nối</button>
<div>
  <audio id="local_audio" autoplay></audio>
</div>
